body{
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
display: flex;
justify-content: center;
align-items: center;
/* border: 2px solid red; */
}
.nav-center{
    width: 90vw;
    max-width: var(--max-width);
    /* background: red; */
}
.nav-header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    /* background: red; */
    display: flex;
    align-items: center;

}
.nav-header img{
    width: 240px;
}
.nav-btn{
    padding: 0.15rem 0.75rem;
}
.nav-btn i{
    font-size: 1.25rem;
}
.nav-links{
    display: flex;
    flex-direction: column;
    
    /* todo */
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links{
    height:290px;
}
.nav-link{
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--gray-900);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid gray;
    transition: var(--transition);
}
.nav-link:hover{
    color: var(--primary-500);

}
.contact-link a{
    background: blue;
    color: aliceblue;
    font-size: 25px;
    border-radius: 7px;
    text-decoration: none;
    padding: 0.15rem 1rem;
    

}
@media screen  and (min-width:992px){
    .nav-btn{
        display: none;
    }
    .navbar{
        height: 6rem;
    }
    .nav-center{
        display: flex;
        align-items: center;
    }
    .nav-header{
        height: auto;
        margin-right: 2rem;
    }
    .nav-links{
        height: auto;
        flex-direction: row;
        align-items: center;
        /* background: red; */
        width: 100%;
    }
    .nav-link{
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 1.5rem;
    }
    .contact-link{
        margin-left: auto;
        margin-right: 0;
        border-radius: 4px;
    }
    
}
/* 
  page

*/
.page{
    /* background: red; */
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (4rem + 8rem));
    
    
    
}
/* 
footer

*/
.page-footer{
    height: 4rem;
    /* text-align: center; */
    background: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.page-footer p{
    margin-bottom: 0;
}
.footer-logo,.page-footer a{
    color: blueviolet;

}
/* 
hero
*/
.hero{
    height: 50vh;
    background: url(../img/main1.jpg) center/cover no-repeat;
    margin-bottom: 2rem;
    border-radius: var(--borderRadius);
    position: relative;
}
.hero-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    font-size: 20px;
}
@media screen and (min-width:770px){
    .hero-text h1{
        font-size: 3rem;
        margin-bottom: 0;
    }
    
}
.tag-list a{
    text-decoration: none;
}
.recipes-container{
    display: grid;
    gap: 2rem 1rem;
    /* border: 2px solid; */
}
.tags-container{
    /* border: 2px solid blue; */
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.img{
    background-size: cover;
    width: 100%;
    
}
.recipes-list{
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
}
.tags-container h4{
    margin-bottom: 0.5rem;
    font-weight: 500;

}
.tag-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tag-list a{
    text-transform: capitalize;
    margin-top: 5px;
    display: block;
    color: var(--grey-500);
    transition: var(--transition);
}
.tag-list a:hover{
    color: blue;
}
.recipe{
    display: block;
    text-decoration: none;
}
.recipe-img{
    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
}
.recipe h5{
    margin-bottom: 0;
    line-height: 1;
    color: grey;
    font-size: 22px;
    /* text-decoration: none; */
}
.recipe p{
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.5rem;
    color: grey;
    letter-spacing: var(--letterSpacing);

}
@media screen and (min-width:576px) {
    .recipes-list{
        grid-template-columns: 1fr 1fr;
    }
    .recipe-img{
        height: 10rem;
    }
}
@media screen and (min-width:992px) {
    .recipes-container{
        grid-template-columns: 200px 1fr;
    }
    .recipes p{
        font-size: 0.85rem;
    }
    .tags-container{
        order: 0;
    }
    .tag-list{
        grid-template-columns: 1fr;
        column-gap: 7px;
       
    }
}
@media screen and (min-width:1200px) {
   recipe h5{
       font-size: 1.15rem;
   }
   
    .recipes-list{
        grid-template-columns: 1fr 1fr 1fr;
   }
}
/* 

About

*/
.about-page h2{
    text-transform: none;
    
    font-weight: bold;
    font-size: 35px;
}
.about-page p{
    font-size: 18px;
    
}
.about-page{
    display: grid;
    gap: 4rem 7rem;
    padding-bottom: 3rem;
   

}
.btn{
    background: blue;
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    width: 100px;
    padding: 0.15rem 1rem;
    border-radius: 5px;
   
}
.about-img{
    border-radius: var(--borderRadius);
    height: 200px;
   
}
@media screen and (min-width:992px) {
    .about-page{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
    }
    .about-img{
        height: 100%;
    }
    
}
.featured-title{
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

/* 
contact
*/
.contact-form{
    width: 100%;
    margin: 0;
    /* border: 1px solid black; */
   
   }
   .contact-info p{
       font-size: 18px;

   }
   .contact-info h3{
       font-size: 25px;

   }
   .form{
       /* width: 100vw; */
    max-width: var(--fixed-width);
    background: rgb(250, 232, 232);
    border-radius: 5px;
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    box-sizing: border-box;
   }
   .form-row{
       margin-bottom: 1rem;
       width: 100%;
   }
   .form-input{
       width: 100%;
   }
   .form-textarea{
       width: 100%;
       height: 50px;
   }
   .btn-block{
       font-size: 20px;
      width: 100%;
   }
.contact-container{
    display: grid;
    gap: 2rem 3rem;
    padding-bottom: 3rem ;
}
@media screen and (min-width:992px) {
    .contact-container{
        grid-template-columns: 1fr 450px;
        align-items: center;
    }
    
}

/* 
tags page  


*/
.tags-wrapper{
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;
}
.tag{
    background: grey;
    text-decoration: none;
    border-radius:5px ;
    text-align: center;
    color: white;
    transition: var(--transition);
    padding: 0.75rem 0;
}
.tag:hover{
    background: rgb(125, 125, 240);
}
.tag h3,.tag p{
    margin-bottom: 0;
}
.tag h3{
    font-weight: 700;
}
@media screen and (min-width:576px){
    .tags-wrapper{
        grid-template-columns: 1fr 1fr;
    }  
}
@media screen and (min-width:992px){
    .tags-wrapper{
        grid-template-columns: repeat(3,1fr)
    }  
}
/* 
single recipes page
*/
.recipe-hero{
    display: grid;
    gap: 3rem;
}
.recipe-hero-img{
    height: 300px;
    border-radius: 5px;
}
.recipe-info p{
    color: grey;
}
.recipe-icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
}
.recipe-icons i{
    font-size: 1.5rem;
    color: blue;
}
.recipe-icons h5,.recipe-icons p{
    margin-bottom: 0;
    font-size: 0.85rem;
}
.recipe-icons p{
    color: grey;
}
.recipe-tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.7em;
    font-weight: 600;
}
.recipe-tags a{
    text-decoration: none;
    background: rgb(115, 28, 197);
    border-radius: 52px;
    color: white;
    padding: 0.05rem 0.5rem;
    margin: 0 0.25rem;
    text-transform: capitalize;
}
@media screen and (min-width:992px) {
    .recipe-hero{
        grid-template-columns: 4fr 5fr;
        align-items: center;
    }
    
}
.recipe-content{
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
}
@media screen and (min-width:992px) {
    .recipe-content{
        grid-template-columns: 2fr 1fr;
        
    }
    
}
.single-instruction header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}
.single-instruction header p{
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
    color: rgb(33, 33, 143);
}
.single-instruction >p{
    color: grey;
}

.single-instruction header div{
    height: 2px;
    background:grey;
    margin-top: 5px;
}
.second-column{
    display: grid;
    row-gap: 2rem;

}
.single-ingredient{
    border-bottom: 2px solid grey;
    padding-bottom: 0.75rem;
    color: grey;
}
.single-tool{
    border-bottom: 2px solid grey;
    padding-bottom: 0.75rem;
    color: rgb(82, 82, 190);
    text-transform: capitalize;
}